<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Notifications
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-success">
                    Votre virement de 200 € a été effectué avec succès.
                </li>
                <li class="list-group-item text-warning">
                    Votre solde est inférieur à 100 €.
                </li>
                <li class="list-group-item text-danger">
                    Une transaction suspecte a été détectée.
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-custom">Voir Notifications</button>
        </div>
    </div>
</div>