<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Historique des Transactions
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>02/12/2024 :</strong> +120,00 € (Salaire)
                </li>
                <li class="list-group-item">
                    <strong>01/12/2024 :</strong> -50,00 € (Supermarché)
                </li>
                <li class="list-group-item">
                    <strong>30/11/2024 :</strong> -15,00 € (Restaurant)
                </li>
                <li class="list-group-item">
                    <strong>28/11/2024 :</strong> +200,00 € (Virement)
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-custom">Voir Tout</button>
        </div>
    </div>
</div>
